@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home * {
    font-family: 'Roboto', sans-serif;
    color: #000;
}

.home {
    .timer {
        background-color: rgb(245,245,247);
        padding: 3rem;
        border-radius: 1.5rem;

        .buttons{
            margin-top: 20px;
            text-align: center;
        }

        button {
            font-size: 3em;
            background-color: transparent;
            color: rgb(255,255,255,0.8);
            border: 0;
            display: inline-block;
            width: 100px;
            cursor: pointer;
        }
    }
}